* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 50px;
}
body {
  min-width: 320px;
  margin: 0 auto;
  width: 10rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 37.5px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 38.4px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 40px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 41.4px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 42.4px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 54px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 72px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px;
  }
}
.bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 1.4rem;
  margin-top: 1.4rem;
  background-color: #fff;
}
.bottom a {
  display: block;
  float: left;
  width: 2.493333rem;
  height: 1.4rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .133333rem;
}
.bottom a img {
  width: .573333rem;
  height: .666667rem;
}
.bottom a span {
  font-size: .282353rem;
  color: #000;
}
.head {
  width: 100%;
  height: 2rem;
  background-color: #F27E0F;
  display: flex;
  line-height: 2rem;
}
.head .round {
  box-sizing: border-box;
  width: .88rem;
  height: .88rem;
  background-color: #FFB409;
  border: .023529rem solid #fff ;
  border-radius: .44rem;
  position: relative;
  margin: .56rem;
}
.head .round img {
  position: absolute;
  top: .093333rem;
  left: .186667rem;
  width: .541176rem;
  vertical-align: middle;
}
.head a {
  font-size: .266667rem;
  color: #F5F5F5;
  line-height: 2rem;
}
.order {
  display: flex;
  width: 100%;
  height: 2.4rem;
  background-color: #fff;
  flex-direction: column;
}
.order .myorders {
  height: .8rem;
  line-height: .8rem;
  border-bottom: .026667rem solid #ccc;
}
.order .myorders span {
  float: left;
  color: #4D4D4D;
  font-size: .346667rem;
  margin-left: .533333rem;
}
.order .myorders a {
  position: relative;
  float: right;
  font-size: .24rem;
  color: #4D4D4D;
  margin-right: .88rem;
}
.order .myorders a::after {
  position: absolute;
  content: "";
  display: block;
  top: .293333rem;
  left: 1.24rem;
  width: .173333rem;
  height: .173333rem;
  border-top: .026667rem solid #8A8A8A;
  border-right: .026667rem solid #8A8A8A;
  transform: rotate(45deg);
}
.order .payment {
  height: 1.573333rem;
  display: flex;
  align-items: center;
}
.order .payment a {
  margin-top: .4rem;
  display: flex;
  flex: 33.33333%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.order .payment a img {
  width: .773333rem;
  height: .653333rem;
}
.order .payment a span {
  font-size: .213333rem;
  color: #8A8A8A;
}
.vip {
  width: 100%;
  height: 2.133333rem;
  background-color: #fff;
  vertical-align: middle;
  margin-top: .133333rem;
}
.vip .member {
  height: 1.066667rem;
  display: flex;
}
.vip .member a {
  border-bottom: .026667rem solid #ccc;
  height: 1.066667rem;
  line-height: 1.066667rem;
}
.vip .discount {
  display: flex;
}
.vip img {
  float: left;
  width: .56rem;
  height: .52rem;
  margin: .2rem 15px 10px 12px;
}
.vip a {
  width: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  height: 1.066667rem;
  font-size: .266667rem;
  color: #4D4D4D;
  line-height: 1.066667rem;
}
.vip .member a::after,
.vip .discount a::after {
  content: "";
  position: absolute;
  top: .373333rem;
  right: .64rem;
  display: inline-block;
  width: .235294rem;
  height: .235294rem;
  border-top: .026667rem solid #ccc;
  border-right: .026667rem solid #ccc;
  transform: rotate(45deg);
}
.service {
  width: 100%;
  height: 2.133333rem;
  background-color: #fff;
  vertical-align: middle;
  margin-top: .133333rem;
}
.service .center {
  height: 1.066667rem;
  display: flex;
}
.service .center a {
  border-bottom: .026667rem solid #ccc;
  height: 1.066667rem;
  line-height: 1.066667rem;
}
.service .home {
  display: flex;
}
.service img {
  float: left;
  width: .56rem;
  height: .52rem;
  margin: .2rem 15px 10px 12px;
}
.service a {
  width: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  height: 1.066667rem;
  font-size: .266667rem;
  color: #4D4D4D;
  line-height: 1.066667rem;
}
.service .center a::after,
.service .home a::after {
  content: "";
  position: absolute;
  top: .373333rem;
  right: .64rem;
  display: inline-block;
  width: .235294rem;
  height: .235294rem;
  border-top: .026667rem solid #ccc;
  border-right: .026667rem solid #ccc;
  transform: rotate(45deg);
}
.excess {
  width: 100%;
  height: 1.066667rem;
  background-color: #fff;
  vertical-align: middle;
  margin-top: .133333rem;
}
.excess .path {
  height: 1.066667rem;
  display: flex;
}
.excess .path a {
  width: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  height: 1.066667rem;
  font-size: .266667rem;
  color: #4D4D4D;
  line-height: 1.066667rem;
}
.excess .path a::after {
  content: "";
  position: absolute;
  top: .373333rem;
  right: .64rem;
  display: inline-block;
  width: .235294rem;
  height: .235294rem;
  border-top: .026667rem solid #ccc;
  border-right: .026667rem solid #ccc;
  transform: rotate(45deg);
}
.excess img {
  float: left;
  width: .56rem;
  height: .52rem;
  margin: .2rem 15px 10px 12px;
}
.setting {
  width: 100%;
  height: 1.066667rem;
  background-color: #fff;
  vertical-align: middle;
  margin-top: .133333rem;
}
.setting .set {
  height: 1.066667rem;
  display: flex;
}
.setting .set a {
  width: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  height: 1.066667rem;
  font-size: .266667rem;
  color: #4D4D4D;
  line-height: 1.066667rem;
}
.setting .set a::after {
  content: "";
  position: absolute;
  top: .373333rem;
  right: .64rem;
  display: inline-block;
  width: .235294rem;
  height: .235294rem;
  border-top: .026667rem solid #ccc;
  border-right: .026667rem solid #ccc;
  transform: rotate(45deg);
}
.setting img {
  float: left;
  width: .56rem;
  height: .52rem;
  margin: .2rem 15px 10px 12px;
}
